/* Import Font - Baloo Chettan 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

/* Main classes */
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2';
  color: #FFFFFF;
}

h1 {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.font--light {
  color: #FFFFFF;
}

.font--dark {
  color: #000000;
}

.font--pink {
  color: #FF506B;
}

img {
  max-width: 100%;
  width: auto;
}

/* Styling */

.main-wrapper {
  width: 100%;
  height: 100vh;
  background: url("/media/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  width: 100%;
  max-width: 1520px;
  height: 880px;
  display: flex;
  flex-flow: row nowrap;
  /* margin: 20px; */
  left: calc(50% - 1520px/2);
  top: calc(50% - 880px/2);
  background: linear-gradient(288.53deg, #673DE0 0.01%, #8F3DE0 54.69%, #BD55FD 100%);
  box-shadow: 25px 50px 50px rgba(0, 0, 0, 0.15);
  border-radius: 102px;
  position: absolute;
}

.main-container::before {
  content: "";
  position: absolute;
  width: 90%;
  max-width: 1441px;
  height: 112px;
  margin: 800px 0 0 35px;
  background: rgba(0, 0, 0, 0.75);
  filter: blur(150px);
  z-index: -1;
}

.sidebar {
  min-width: 220px;
  max-height: 100%;
  background: #FFC354;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0px 100px 100px 0px;
  padding: 100px 70px 100px 70px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 225px;
}

.navbar__item {
  width: 85px;
  height: 85px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 22px 0 22px 0;
}

.navbar__item:nth-child(1), .navbar__item:nth-child(2) {
  margin: 0 0 22px 0;
}

.navbar__item > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar__item > a > i > img {
  padding: 25px 0 25px 0;
}

.main-container__content {
  width: 76%;
  max-height: 100%;
  padding: 100px 70px 100px 100px;
}

.main-container__content::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 880px;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/media/hands.png");
  pointer-events: none;
}

.promo-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}

.promo-bar__logotype {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.promo-bar__logotype > img {
  margin: 0 15px 0 0;
}

.promo-bar__socials-item {
  padding: 15px;
}

.glide-container {
  width: 100%;
  height: 100%;
}

.toolbar--item {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.toolbar--item > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar--item > a > i > img {
  padding: 22px 0 22px 0;
}

.copyright > p {
  font-weight: 500;
  font-size: 13px;
}

.font--bolded {
  font-weight: bold;
}

/* MEDIA */
@media screen and (max-width: 1600px) {
  .main-container {
    left: 0%;
  }
}

@media screen and (max-width: 1140px) {
  
}

@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  .main-container::before {
    margin: 800px 0 0 0px;
  }
}

@media screen and (max-width: 480px) {
  
}