/* Import Font - Baloo Chettan 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

/* Main classes */
body {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


/* FONTS */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2';
  color: #FFFFFF;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
}

h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.font--light {
  color: #FFFFFF;
}

.font--dark {
  color: #000000;
}

.font--pink {
  color: #FF506B;
}

/* MARKERS */

.marker--cyan {
  border-left: 10px solid #43CFFF;
  border-radius: 25px;
}

.marker--yellow {
  border-left: 10px solid #FFC354;;
  border-radius: 25px;
}

/* BUTTONS */

.button {
  padding: 10px 35px 10px 35px; 
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.0);
  font-family: 'Baloo Chettan 2';
  font-weight: 600;
  font-size: 18px;
}

.button--debug{
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
}

.prev, .next {
  width: 70px;
  height: 70px;
  padding: 0;
  background: rgba(255, 255, 255, 1.0);
  border-radius: 60px;
  border: none;
}

img {
  max-width: 100%;
  width: auto;
}

/* Styling */

.main-wrapper {
  width: 100%;
  height: 100vh;
  background: url("/media/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  width: 100%;
  max-width: 1520px;
  height: 880px;
  display: flex;
  flex-flow: row nowrap;
  /* margin: 20px; */
  left: calc(50% - 1520px/2);
  top: calc(50% - 880px/2);
  background: linear-gradient(288.53deg, #673DE0 0.01%, #8F3DE0 54.69%, #BD55FD 100%);
  box-shadow: 25px 50px 50px rgba(0, 0, 0, 0.15);
  border-radius: 102px;
  position: absolute;
}

.main-container::before {
  content: "";
  position: absolute;
  width: 90%;
  max-width: 1441px;
  height: 112px;
  margin: 800px 0 0 35px;
  background: rgba(0, 0, 0, 0.75);
  filter: blur(150px);
  z-index: -1;
}

.sidebar {
  min-width: 220px;
  max-height: 100%;
  background: #FFC354;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0px 100px 100px 0px;
  padding: 100px 70px 100px 70px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 225px;
}

.navbar__item {
  width: 85px;
  height: 85px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 22px 0 22px 0;
}

.navbar__item:nth-child(1), .navbar__item:nth-child(2) {
  margin: 0 0 22px 0;
}

.navbar__item > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar__item > a > i > img {
  padding: 25px 0 25px 0;
}

.main-container__content {
  width: 76%;
  max-height: 100%;
  padding: 100px 70px 100px 100px;
}

.main-container__content::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 880px;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/media/hands.png");
  pointer-events: none;
}

.promo-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}

.promo-bar__logotype {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.promo-bar__logotype > img {
  margin: 0 15px 0 0;
}

.socials__item {
  padding: 15px;
}

.slide-container {
  width: 100%;
  height: 100%;
}

.single-slide__toolbar {
  max-width: 70px;
}

.single-slide--layout {
  display: flex;
  flex-flow: row nowrap;
}

.slide-container__content-single {
  padding: 0 0 0 68px;
  width: 100%;
}

.slide-container__content-single__heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 75px;
  margin: 0 0 20px 0;
}

.slide-container__content-single__heading > img {
  margin: 8px 0 0 0;
}

.slide-container__content-single__heading > h2 {
  margin: 0 0 0 20px;
}

.slide-container__content-single__wrap {
  max-height: 340px;
  overflow-y: scroll;
}

.toolbar__item {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.toolbar__item > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar__item > a > i > img {
  padding: 22px 0 22px 0;
}

.copyright > p {
  font-weight: 500;
  font-size: 13px;
}

.font--bolded {
  font-weight: bold;
}

.wrap__list {
  width: 100%;
}

.wrap__list__module__header {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 30px 0;
}

.wrap__list__module__header > h3 {
  margin: 0 0 0 20px;
}

.wrap__list__module__single-item {
  margin: 0 0 30px 0;
}

.wrap__list__module__single-item {
  display: flex;
  flex-flow: row nowrap;
}

.single-item__header {
  margin: 0 0 10px 20px;
}

.single-item__debug-box {
  margin: 15px 0 0 20px;
}

.single-item__paragraph {
  margin: 5px 0 5px 20px;
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.slide-container__controls {
  margin: 30px 0 0 0;
}

.slide-container__controls__arrows {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.prev > img {
  margin: 5px 0 0 -2px;
}

.next > img {
  margin: 5px 0 0 0;
}

.slide-container__controls__nav {
  position: absolute;
  margin: -50px 0 0 0;
  left: 37%;
  display: flex;
  flex-flow: row nowrap;
}

.nav__dot {
  margin: 10px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1.0);
  border-radius: 20px;
}

.tns-nav-active {
  background: #FFC354;
}

/* MEDIA */
@media screen and (max-width: 1600px) {
  .main-container {
    left: 0%;
  }
}

@media screen and (max-width: 1140px) {
  
}

@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  .main-container::before {
    margin: 800px 0 0 0px;
  }
}

@media screen and (max-width: 480px) {
  
}