/* MARKERS */

.marker--cyan {
  border: 5px solid #43CFFF;
  border-radius: 25px;
}

.marker--yellow {
  border: 5px solid #FFC354;
  border-radius: 25px;
}

.marker--red {
  border: 5px solid #ff5c5c;
  border-radius: 25px;
}
