/* Core Files Imports */
@use 'modules/fonts';
@use 'modules/basic';
@use 'modules/buttons';
@use 'modules/markers';
/* HOVERS */

.wrap__list__module__single-item:hover .marker--highlight {
  border-color: #00e71f;
}

.prev, .next {
  width: 70px;
  height: 70px;
  padding: 0;
  background: rgba(255, 255, 255, 1);
  border-radius: 60px;
  border: none;
  z-index: 99;
  cursor: pointer;
}

/* Styling */

.main-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: url("../media/background.svg") no-repeat center;
}

.main-container {
  width: 100%;
  max-width: 1520px;
  height: 880px;
  display: flex;
  flex-flow: row nowrap;
  left: calc(50% - 1520px/2);
  top: calc(50% - 880px/2);
  background: linear-gradient(288.53deg, #673DE0 0.01%, #8F3DE0 54.69%, #bd55fd 100%);
  box-shadow: 25px 50px 50px rgba(0, 0, 0, 0.15);
  border-radius: 102px;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    width: 90%;
    max-width: 1441px;
    height: 112px;
    margin: 800px 0 0 35px;
    background: rgba(0, 0, 0, 0.75);
    filter: blur(150px);
    z-index: -1;
  }
}

.sidebar {
  min-width: 220px;
  max-height: 100%;
  background: #FFC354;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0 100px 100px 0px;
  padding: 100px 70px 100px 70px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 225px;
}

.navbar__item {
  width: 85px;
  height: 85px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 22px 0 22px 0;
  transition: all 0.3s;

  &:nth-child(1), &:nth-child(2) {
    margin: 0 0 22px 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;

    i img {
      padding: 25px 0 25px 0;
    }
  }
}

.main-container__content {
  width: 76%;
  max-height: 100%;
  padding: 100px 70px 100px 100px;

  &::before {
    content: "";
    position: absolute;
    width: 1160px;
    height: 880px;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../media/hands.png");
    pointer-events: none;
  }
}

.promo-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}

.promo-bar__logotype {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  img {
    margin: 0 15px 0 0;
  }
}

.socials__item {
  padding: 15px;
}

.slide-container {
  width: 100%;
  height: 100%;
}

.single-slide__toolbar {
  max-width: 70px;
}

.single-slide--layout {
  display: flex;
  flex-flow: row nowrap;
}

.slide-container__content-single {
  padding: 0 0 0 68px;
  width: 100%;
}

.slide-container__content-single__heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 75px;
  margin: 0 0 20px 0;

  img {
    margin: 8px 0 0 0;
  }

   h2 {
     margin: 0 0 0 20px;
   }
}

.slide-container__content-single__wrap {
  max-height: 340px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFC354;
    border-radius: 25px;
  }
}

.toolbar__item {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 40px 0;

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;

    i  img {
      padding: 22px 0 22px 0;
    }
  }
}

.copyright > p {
  font-weight: 500;
  font-size: 13px;
}

.font--bolded {
  font-weight: bold;
}

.wrap__list {
  width: 100%;
}

.wrap__list__module__header {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 30px 0;

  > h3 {
    margin: 0 0 0 20px;
  }
}

.wrap__list__module__single-item {
  margin: 0 0 30px 0;
  display: flex;
  flex-flow: row nowrap;
}

.single-item__header {
  margin: 10px 0 10px 20px;
}

.single-item__debug-box {
  margin: 15px 0 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.single-item__paragraph {
  margin: 5px 0 5px 20px;
  font-family: 'Baloo Chettan 2', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.slide-container__controls {
  margin: 30px 0 0 0;
}

.slide-container__controls__arrows {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.prev > img {
  margin: 5px 0 0 -2px;
}

.next > img {
  margin: 5px 0 0 0;
}

.slide-container__controls__nav {
  position: relative;
  margin: -55px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav__dot {
  margin: 10px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  cursor: pointer;
}

.tns-nav-active {
  background: #FFC354;
}

/* MEDIA */
@media screen and (max-width: 1600px) {
  /* Container placement FIX on smaller screens than 1600px */

  .main-container {
    left: 0%;
  }
}

@media screen and (max-width: 1300px) {
  /* Change layout behavior */

  .main-container {
    top: 0%;
    left: 0%;
    position: relative;
    max-width: 100%;
    height: auto;
    flex-flow: column nowrap;
    border-radius: 0;
  }

  .main-container__content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .main-container__content__wrap {
    padding: 70px;
  }

  .main-container::before, .main-container__content::before {
    display: none;
  }

  .sidebar {
    border-radius: 0;
  }

  .navbar {
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 0 70px 0;
  }

  .navbar__item {
    &:nth-child(1), &:nth-child(2) {
      margin: 0 0 0 0;
    }

    margin: 0;
  }

  .copyright {
    text-align: center;
  }

  .slide-container__content-single__wrap {
    /* SLIDER HEIGHT FIX */
    max-height: 54vh;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 38px;
    line-height: 69px;
  }

  h2 {
    font-size: 32px;
    line-height: 58px;
  }

  h3 {
    font-size: 28px;
    line-height: 50px;
  }

  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 768px) {
  .main-container__content__wrap {
    padding: 30px;
  }

  .slide-container__content-single {
    padding: 0 0 0 0;
    width: 100%;
  }

  .slide-container__content-single__heading {
    flex-flow: row wrap;

    img {
      max-width: 200px;
    }
  }

  .single-slide--layout {
    flex-flow: column nowrap;
  }

  .single-slide__toolbar {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .slide-container__controls {
    margin: 50px 0 50px 0;
  }

  .sidebar {
    padding: 50px 30px 50px 30px;
  }

  .navbar {
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 576px) {
  .main-container::before {
    margin: 800px 0 0 0px;
  }
}

@media screen and (max-width: 480px) {
  /* fixes for smallest screens if needed */
}
